<h2>vParts Details</h2> 

<hr/>
<div *ngIf="vParts">
  <div>
    <label><b>First Name: </b></label> {{vParts.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{vParts.lastName}}
  </div>
  <div>
    <label><b>Email Id: </b></label> {{vParts.emailId}}
  </div>  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to vParts List</button><br>


