<h3>Create VehicleParts</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">partsname</label>
      <input type="text" class="form-control" id="partsname" required [(ngModel)]="vparts.partsname" name="partsname">
    </div>

    <div class="form-group">
      <label for="name">shelveno</label>
      <input type="text" class="form-control" id="shelveno" required [(ngModel)]="vParts.shelveno" name="shelveno">
    </div>

    <div class="form-group">
      <label for="name">partsid</label>
      <input type="text" class="form-control" id="partsid" required [(ngModel)]="vParts.partsid" name="partsid">
    </div>

    <div class="form-group">
      <label for="name">stock</label>
      <input type="text" class="form-control" id="stock" required [(ngModel)]="vParts.emailId" name="stock">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newvParts()">Add</button> -->
</div>
