<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>vParts List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vParts of vPartss | async">
          <td>{{vParts.firstName}}</td>
          <td>{{vParts.lastName}}</td>
          <td>{{vParts.emailId}}</td>
          <td><button (click)="deletevParts(vParts.id)" class="btn btn-danger">Delete</button>
              <button (click)="updatevParts(vParts.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="vPartsDetails(vParts.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

